body {
  background-image: url("IMG_0994.jpeg");
  background-size: cover;
}

@font-face {
　font-family: 'daiedo';
　src: url('Daiedo.otf') format('otf');
　/* 他のフォントスタイルプロパティも指定可能 */
}

.text-test01 {
  font-family: daiedo, sans-serif;
}
